[submodule "third_party/SparkFun_MPU-9250_Breakout_Arduino_Library"]
	path = third_party/SparkFun_MPU-9250_Breakout_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_MPU-9250_Breakout_Arduino_Library.git
[submodule "third_party_packages/SparkFun_MPU-9250-DMP_Arduino_Library"]
	path = third_party_packages/SparkFun_MPU-9250-DMP_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library.git
